.cardContainer {
  width: 100%;
  height: 10rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  transition: all 0.2s ease;
}

:global(.dark) .cardContainer {
  background-color: #1f1f22;
  box-shadow: 0;
}

.cardContainer:hover {
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.1);
}

:global(.dark) .cardContainer:hover {
  box-shadow: 0;
}

.basicInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  min-width: 0;
}

.basicInfoNameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.basicInfoNameText {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1a1a1a;
}

:global(.dark) .basicInfoNameText {
  color: #f0f0f0;
}

.basicInfoDescriptionText {
  font-size: 0.9rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b1b1b1;
}

:global(.dark) .basicInfoDescriptionText {
  color: #888888;
}

.basicInfoLastUpdatedTimeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.basicInfoUpdateTimeIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: #626262;
}

:global(.dark) .basicInfoUpdateTimeIcon {
  color: #a0a0a0;
}

.basicInfoUpdateTimeText {
  font-size: 1rem;
  font-weight: 400;
  color: #626262;
}

:global(.dark) .basicInfoUpdateTimeText {
  color: #a0a0a0;
}

.operationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  width: 8rem;
}

.operationDefaultBadge {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.operationDefaultBadgeIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: #22c55e;
}

:global(.dark) .operationDefaultBadgeIcon {
  color: #86efac;
}

.operationDefaultBadgeText {
  font-size: 1rem;
  font-weight: 400;
  color: #22c55e;
}

:global(.dark) .operationDefaultBadgeText {
  color: #86efac;
}

.workflowBadge {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.workflowBadgeIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: #6366f1;
}

:global(.dark) .workflowBadgeIcon {
  color: #a5b4fc;
}

.workflowBadgeText {
  font-size: 0.9rem;
  font-weight: 400;
  color: #6366f1;
}

:global(.dark) .workflowBadgeText {
  color: #a5b4fc;
}

.bigText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 100%;
}